/* 
	������b2233������ 
*/

.b2233_wrp {
    position: fixed;
    bottom: -136px;
    width: 50%;
    height: 775px;
    overflow: hidden;
    z-index: 50; 
}
.b2233_wrp.b22{
    width: 301px;
    top: 340px;
    left: -2%;
z-index: 50; 
}
.b2233_wrp.b33 {
    width: 301px;
    top: 345px;
    right: -2%;
z-index: 50; 
}

/* 
	������22/33������ 
*/

.left_22, .right_33 {
    position: fixed;
    z-index: 50;
    cursor: pointer;
    background: url(https://yangyaojia.github.io/img/2233.png);
    height: 639px;
    width: 301px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.left_22.anim, .right_33.anim {
    animation:scale2233 0.2s 1;
    -webkit-animation:scale2233 0.2s 1;
}
@keyframes scale2233 {
    0% { transform:scale(1); }
    50% { transform:scale(1.02);}
    100% { transform:scale(1);}
}
@-webkit-keyframes scale2233 {
    0% { -webkit-transform:scale(1);}
    50% { -webkit-transform:scale(1.02);}
    100% { -webkit-transform:scale(1);}
}
.left_22 {
    background-position: -890px -12px;
}
.right_33 {
    background-position: -277px -699px;
}
@media screen and (max-width: 1024px) {
    .left_22{
        margin-right: 310px;
    }
    .right_33{
        margin-left: 310px;
    }
}

/* 
	��������Ϣ�������� 
*/

.communication.b22 .arrow {
    position: absolute;
    overflow: hidden;
    display: block;
    background: url(http://i2.hdslb.com/u_user/2014bnj/img/arrows.png) no-repeat;
}
.communication.b22 .arrow {
    background-position: 0 -57px;
    left: -7px;
z-index: 50; 
}
.communication.b33 .arrow {
    background-position: 0 -27px;
    right: -7px;
z-index: 50; 
}
.communication .arrow {
    position: absolute;
    top: 20px;
    width: 8px;
    height: 12px;
    background: url(http://i2.hdslb.com/u_user/2014bnj/img/arrows.png) no-repeat;
}
.communication {
    width: 180px;
    height: 60px;
    background: #fff8ad;
    display: none;
    border-radius: 24px;
    padding: 20px;
    color: #bb6d17;
    font-size: 14px;
    position: absolute;
    top: 50px;
    opacity: 0;
    z-index: 1000;
}
.communication.b22 {
    left: 260px;
    margin-left: 0;
z-index: 50; 
}
.communication.b33 {
    right: 260px;
    margin-right: 0;
z-index: 50; 
}


/* 
	����ͼƬ
*/

